.post-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(18.75rem, 1fr));
  gap: 1.25rem;
  padding: 1.25rem;
  width: 100%;
}

.post {
  background-color: var(--secondary-color);
  padding: 1.25rem;
  border-radius: 0.3125rem;
  box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.1);
  color: var(--text-color);
}

.comments {
  margin-top: 1.25rem;
}

.comment {
  background-color: var(--background-color);
  padding: 0.625rem;
  border-radius: 0.3125rem;
  margin-bottom: 0.625rem;
  box-shadow: 0 0 0.3125rem rgba(0, 0, 0, 0.1);
  color: var(--text-color);
}

@media (max-width: 48rem) {
  .post-grid {
    grid-template-columns: 1fr;
  }
}